.footer {
  margin-top: 25px;
  background: linear-gradient(#0f161b, #0f161b 100%), #0f161b;
}

.nav-bar {
  background: linear-gradient(#0f161b, #0f161b), #0f161b;
}

.game-title {
  margin-left: 10px;
}

.favicon {
  width: 42px;
}

.nav-bar-links:hover {
  color: #724cf9;
}

.nav-bar-links {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
}

.vision-icon-overview {
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -4px;
}

.title {
  color: rgb(255,255,255);
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (max-width: 460px) {
  .title {
    font-size: 16px;
  }
}

.container-nav-option:hover {
  background-color: rgba(111,100,237,0.98);
}

.container-nav-option {
  color: rgb(255,255,255);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  background: #2a2e32;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.title {
  color: rgb(255,255,255);
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (max-width: 460px) {
  .title {
    font-size: 16px;
  }
}

.filter-container {
  background: rgb(18,27,34);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.banner-container {
  background: rgb(18,27,34);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}

.team-container {
  border-radius: 6px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(18,27,34);
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
}

.team-title {
  color: rgb(255,255,255);
  font-size: 14px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.ads {
  font-size: 14px;
  color: rgb(197,197,197);
  width: 100%;
  margin-top: 17px;
}

.team-icon {
  position: relative;
  top: 0px;
  width: 65px;
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
  background: rgba(87,77,197,0.98);
  border-radius: 6px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 65px;
}

.name-title {
  color: rgb(255,255,255);
  font-size: 26px;
  margin-bottom: 10px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  text-shadow: 3px 2px rgb(0,0,0);
}

.bg {
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  width: 100%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgba(0,0,0,0) -500%, #0f161b 99%), url("") top/ cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1673961486/GENSHIN/Namecards/Kazuha/Namecard_Background_Kaedehara_Kazuha_Autumn_Maple-Viewing_rzsrre.png") center / cover;
}

.background-container {
  width: 100%;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 40px;
  background-color: rgba(15,22,27);
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
}

.banner-icon {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.team-row {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 97%;
}

.bg-content {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rarity-row {
  left: 3px;
  width: 100%;
  position: relative;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 460px) {
  .team-icon {
    width: 50px;
    margin-top: -2px;
    height: 50px;
  }
}

@media (max-width: 460px) {
  .team-title {
    font-size: 10px;
    margin-top: -6px;
  }
}

@media (max-width: 460px) {
  .team-row {
    padding-bottom: 10px;
  }
}

.vision-icon {
  position: relative;
  width: 20px;
  border-radius: 50px;
  margin-top: 2px;
}

.vision-box {
  position: relative;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 460px) {
  .vision-icon {
    width: 17px;
    margin-top: 20px;
  }
}

@media (max-width: 460px) {
  .vision-box {
    margin-top: -42px;
  }
}

.rarity-div {
}

.rarity {
  width: 14px;
  margin-left: -4px;
}

@media (max-width: 460px) {
  .rarity {
    width: 11px;
    margin-top: -10px;
  }
}

.vision-boxed-icon {
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.team-icon:hover {
  background: rgba(111,100,237,0.98);
}

.container-bg {
  background: linear-gradient(180deg, rgba(0,0,0,0) -1999%, rgb(18,27,34) 99%), url("") top/ cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686191478/GENSHIN/Wallpapers/1161890_zqkfhg.jpg") center / cover;
}

