.nav-bar {
  background: linear-gradient(#0f161b, #0f161b);
}

.game-title {
  margin-left: 10px;
}

.favicon {
  width: 42px;
}

.container-nav-option:hover {
  background-color: rgba(87,77,197,0.98);
}

.nav-bar-links:hover {
  color: #724cf9;
}

.nav-bar-links {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
}

.tooltip .tooltip-inner {
  background: #e2711d;
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.tooltiptext {
  font-family: 'DM Sans', sans-serif;
  z-index: 1;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-weight: 500;
}

.nav-description {
  color: #ffffff;
  font-size: 14px;
}

.container-bg {
  background: linear-gradient(180deg, rgba(0,0,0,0) -1999%, rgb(18,27,34) 99%), url("") top/ cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686191478/GENSHIN/Wallpapers/1161890_zqkfhg.jpg") center / cover;
}

.guide-container {
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
  width: 100%;
  background: rgba(15,22,27);
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  border-radius: 6px;
  padding-bottom: 5px;
}

.character-card-content {
  background: linear-gradient(180deg, rgba(0,0,0,0) -400%, rgba(15,22,27) 100%), url("") bottom -610px left -450px / auto no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1673961490/GENSHIN/Namecards/Klee/Namecard_Background_Klee_Explosive_yw6ubp.webp") center / cover;
  border-radius: 6px;
  height: 100px;
  max-height: 90px;
}

.character-card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
}

.slider-column {
  height: auto;
}

.best-weapon-rarity {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 16px;
  position: absolute;
  width: 300px;
  margin-top: 12px;
  font-style: italic;
  margin-left: 80px;
}

.character-rarity-icon {
  width: 13px;
  height: 13px;
  margin-right: -2px;
}

.best-weapon-column {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
  column-gap: 3em;
}

.best-weapon-div {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 440px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.weapon-icon-5-star {
  width: 65px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 65px;
  margin-top: 15px;
  margin-left: 15px;
}

.best-sub-title {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  margin-top: -5px;
  font-style: italic;
  font-size: 12px;
  margin-left: 80px;
}

.best-weapon-title {
  color: #e2711d;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -80px;
  margin-left: 80px;
  font-size: 16px;
  font-weight: bold;
}

.weapon-description {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  margin-top: 55px;
  position: static;
}

@media (MAX-width: 576px) {
  .weapon-icon-5-star {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .best-weapon-title {
    font-size: 14px;
    margin-top: -72px;
    margin-left: 75px;
  }
}

@media (max-width: 576px) {
  .best-sub-title {
    margin-left: 75px;
    margin-top: -6px;
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  .best-weapon-rarity {
    margin-left: 75px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .weapon-description {
    font-size: 11px;
    margin-top: 45px;
  }
}

.CAROUSEL-DIV {
}

.context-title {
  font-family: 'DM Sans', sans-serif;
  color: #e2711d;
  font-size: 16px;
  text-shadow: 1px 1px rgb(0,0,0);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}

.scrollspy-nav {
  padding-top: 70px;
  font-family: 'DM Sans', sans-serif;
  border-style: none;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

.nav-description {
  color: #ffffff;
}

@media (max-width: 576px) {
  .scrollspy-column {
    font-size: 14px;
    border-style: none;
  }
}

.scrollspy-nav-item {
  background-color: #e2711d;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-bottom: 10px;
}

.scrollspy-nav-item:hover {
  background-color: #9d0208;
  color: #000000;
  transform: scale(1.1);
  transition: 1s;
}

.nav-description:focus, .nav-description:hover {
  color: #000000;
}

@media (max-width: 576px) {
  .scrollspy-nav {
    font-size: 12px;
    border-style: none;
  }
}

.scrollspy-column {
  margin-top: 15px;
  width: 85%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.nav-description:hover {
  color: #ffffff;
}

@media (max-width: 360px) {
  .scrollspy-nav {
  }
}

@media (max-width: 360px) {
  .scrollspy-nav-item {
    margin-bottom: 10px;
  }
}

.weapon-icon-3-star {
  width: 65px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686447664/GENSHIN/Rarity_3_background_jkaet1.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 65px;
  margin-top: 15px;
  margin-left: 15px;
}

.weapon-icon-4-star {
  width: 65px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 65px;
  margin-top: 15px;
  margin-left: 15px;
}

@media (max-width: 300px) {
  .ascension-row {
  }
}

@media (max-width: 576px) {
  .ascension-div {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .ascension-column {
    width: 85px;
    padding-right: 0px;
  }
}

.ascension-div {
  height: 65px;
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 65px;
  position: relative;
}

.ascension-icon {
  width: 65px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192565/GENSHIN/Rarity_1_background_vn8rcy.png") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.ascension-title {
  position: absolute;
  color: rgb(255,255,255);
  font-size: 11px;
  font-style: italic;
  letter-spacing: 2px;
  padding-left: 5px;
  background: rgb(18,27,34);
  margin-top: 48px;
  padding-right: 5px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 70%;
}

@media (max-width: 768px) {
  .ascension-title {
    margin-top: -17px;
  }
}

@media (max-width: 300px) {
  .ascension-row {
  }
}

.ascension-column {
  width: 95px;
  padding-left: 0px;
}

.ascension-row {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .ascension-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .ascension-div {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .ascension-column {
    width: 85px;
    padding-right: 0px;
  }
}

.banner-container {
  background: rgb(18,27,34);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ads {
  font-size: 14px;
  color: rgb(167,167,167);
  width: 100%;
  margin-top: 17px;
}

.banner-icon {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
}

@media (max-width: 460px) {
  .ads {
    font-size: 10px;
  }
}

.talent-icon {
  width: 35px;
  margin-left: 15px;
  margin-top: 5px;
}

.substat-div {
  height: 45px;
  background: #e2711d;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  width: 265px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.substat-column {
  width: 240px;
}

.talent-title {
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  margin-top: -29px;
  margin-left: 60px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .substat-row {
  }
}

@media (max-width: 576px) {
  .substat-column {
    width: 380px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .substat-div {
    width: 280px;
    margin-bottom: -20px;
  }
}

@media (max-width: 576px) {
  .talent-title {
    font-size: 14px;
    margin-top: -34px;
    margin-left: 68px;
  }
}

.substat-row {
  padding-top: 5px;
  margin-bottom: 20px;
}

.substat-div:hover {
  background-color: #9d0208;
  transition: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .talent-icon {
    width: 39px;
  }
}

@media (max-width: 360px) {
  .row {
    margin-top: 25px;
  }
}

.best-artifact-column-2 {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.best-weapon-div-2 {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 350px;
  height: 60px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.artifact-icon-2 {
  width: 60px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 60px;
}

.artifact-set-piece-2 {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  margin-left: 62px;
  margin-top: -7px;
}

.artifact-title-2 {
  color: #e2711d;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -65px;
  margin-left: 62px;
  font-size: 14px;
  font-weight: bold;
}

.best-weapon-div-2:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.best-artifact-column-1 {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.best-weapon-div-1 {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 350px;
  height: 60px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.artifact-icon-1 {
  width: 60px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 60px;
}

.artifact-set-piece-1 {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  margin-left: 62px;
  margin-top: -7px;
}

.artifact-title-1 {
  color: #e2711d;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -65px;
  margin-left: 62px;
  font-size: 14px;
  font-weight: bold;
}

.best-weapon-row {
  margin-top: 25px;
}

.best-weapon-div-1:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 360px) {
  .row {
    margin-top: 25px;
  }
}

.container-artifact .card {
  position: relative;
  max-width: 300px;
  height: 60px;
  background-color: rgb(18,27,34);
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  border-bottom-right-radius: 70px;
  padding-top: 5px;
}

.container-artifact .card:hover {
  height: auto;
  max-height: 340px;
}

.container-artifact .card .image {
  position: relative;
  width: 60px;
  height: 60px;
  top: -10%;
  z-index: 1;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
}

.container-artifact .card .image img {
  max-width: 100%;
  border-radius: 6px;
}

.container-artifact .card .content {
  position: relative;
  top: -20px;
  padding: 10px 15px;
  color: #111;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container-artifact .card:hover .content {
  margin-top: 25px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.artifact-piece {
  position: absolute;
  padding-left: 80px;
  padding-top: 6px;
}

.artifact-title {
  position: absolute;
  padding-left: 80px;
  padding-top: 25px;
  color: #ffffff;
}

.artifact-column {
  width: 300px;
}

.container-artifact {
  width: 300px;
}

