.nav-bar {
  background: linear-gradient(#0b1115, #0b1115);
}

.game-title {
  margin-left: 10px;
}

.favicon {
  width: 42px;
}

.container-nav-option:hover {
  background-color: rgba(87,77,197,0.98);
}

.nav-bar-links:hover {
  color: #724cf9;
}

.nav-bar-links {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.tooltip .tooltip-inner {
  background: #98c8e8;
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.tooltiptext {
  font-family: 'DM Sans', sans-serif;
  z-index: 1;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-weight: 500;
}

.nav-description {
  color: #ffffff;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
}

.container-bg {
  background: linear-gradient(180deg, rgba(0,0,0,0) -1999%, rgb(18,27,34) 99%), url("") top/ cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686191478/GENSHIN/Wallpapers/1161890_zqkfhg.jpg") center / cover;
}

.guide-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) -400%, rgb(13,19,24) 100%), url("../../assets/img/Genshin/Namecards/Electro-Traveler/Namecard_Background_Achievement_Traversal.webp") top / cover no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 930px;
  border-radius: 6px;
  padding-bottom: 5px;
}

.nav-description:hover {
  color: #ffffff;
}

.ads {
  font-size: 14px;
  color: rgb(167,167,167);
  width: 100%;
  margin-top: 17px;
}

@media (max-width: 460px) {
  .ads {
    font-size: 10px;
  }
}

.character-icon-4-star {
  width: 60px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  background: url("../../assets/img/Genshin/Rarity/Rarity_4_background.png") top / cover no-repeat;
  border-bottom-right-radius: 12px;
}

.character-icon-5-star {
  background: url("../../assets/img/Genshin/Rarity/Rarity_5_background.png") top / cover no-repeat;
  width: 60px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  border-bottom-right-radius: 12px;
}

.filterDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21.1px;
  padding-bottom: 2.1px;
  width: auto;
  display: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 7px;
  padding-left: 7px;
  margin-top: 8px;
  margin-bottom: 15px;
  width: 40px;
  height: 34px;
}

.show {
  display: block;
}

.vision-icon {
  position: absolute;
  width: 16px;
  position: absolute;
  margin-top: 2px;
  margin-left: -58px;
}

.character-title {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.filterDiv:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.filter-container {
  width: auto;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.button-vision {
  width: 24px;
}

@media (max-width: 991px) {
  .nav-bar-links {
    font-size: 12px;
  }
}

.character-row {
  width: auto;
  max-width: 1000px;
  background: rgb(13,19,24);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  border-radius: 6px;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 15px;
}

.character-icon-5-star:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background: #ff983a;
}

.character-icon-4-star:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background: #a76dff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
}

.banner-container {
  background: rgb(13,19,24);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.ads {
  font-size: 14px;
  color: rgb(167,167,167);
  width: 100%;
  margin-top: 17px;
}

.banner-icon {
  margin-top: -20px;
}

@media (max-width: 576px) {
  .character-row {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (max-width: 576px) {
  .character-icon-5-star {
    width: 50px;
  }
}

@media (max-width: 576px) {
  .character-icon-4-star {
    width: 50px;
  }
}

@media (max-width: 576px) {
  .vision-icon {
    width: 13px;
    margin-left: -49px;
  }
}

@media (max-width: 576px) {
  .filterDiv {
    width: auto;
    max-width: 95px;
    margin-right: -15px;
    margin-left: -15px;
  }
}

