.weapon-container-2 {
  background: rgba(61,94,84,0.38);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  padding-bottom: 10px;
}

.weapon-container-flex {
  background: rgba(61,94,84,0.38);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  height: 188px;
}

.weapon-container {
  background: rgb(18,27,34);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-bottom-right-radius: 80px;
}

.artes-stat-container {
  background: #2a2e32;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.banner-container {
  background: rgb(18,27,34);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.team-container {
  border-radius: 6px;
  padding-top: 15px;
  font-family: 'DM Sans', sans-serif;
}

.stat-container {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 0px;
}

.team-title {
  color: rgb(255,255,255);
  font-size: 14px;
  width: 100%;
  margin-top: -4px;
}

.stat-title {
  color: rgb(255,255,255);
  font-size: 12px;
  width: 100%;
  margin-top: -5px;
  min-width: 100px;
}

.weapon-stat-2 {
  font-size: 14px;
  color: rgb(255,255,255);
  width: 60%;
  left: 96px;
  top: -45px;
}

.desired-substat {
  font-size: 13px;
  color: rgb(255,255,255);
  width: 100%;
}

.ads {
  font-size: 14px;
  color: rgb(167,167,167);
  width: 100%;
  margin-top: 17px;
}

.talent-stat {
  font-size: 14px;
  width: 100%;
  margin-top: -4px;
  color: rgb(255,255,255);
}

.weapon-meta-2 {
  color: rgb(255,255,255);
  border-radius: 6px;
  font-size: 14px;
  padding-top: 5px;
  margin-top: -32px;
  padding-left: 3px;
  width: 100%;
}

.talent-meta {
  color: rgb(255,255,255);
  border-radius: 6px;
  font-size: 13px;
  padding-top: 10px;
}

.weapon-icon {
  position: relative;
  top: 0px;
  width: 80px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  border-radius: 6px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top;
  border-bottom-right-radius: 20px;
}

.talent-icon {
  width: 35px;
  margin-left: 15px;
  margin-top: 10px;
}

.stat-icon {
  position: relative;
  top: 0px;
  width: 45px;
  border-radius: 6px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(65,135,113,0.98);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

@media (max-width: 460px) {
  .weapon-meta-2 {
    font-size: 12px;
    padding-top: 10px;
  }
}

@media (max-width: 460px) {
  .weapon-meta {
    font-size: 12px;
    padding-top: 10px;
  }
}

.name-title {
  color: rgb(255,255,255);
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  text-shadow: 2px 2px rgb(0,0,0);
  margin-left: 20px;
}

.bg {
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  width: 100%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(180deg, rgba(0,0,0,0) -400%, rgba(15,22,27) 100%), url("") top / cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1673961497/GENSHIN/Namecards/Nahida/Namecard_Background_Nahida_Crescent_cqfud9.webp") center / cover;
}

.background-container {
  width: 100%;
  background: rgba(15,22,27);
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  border-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
}

.container-row {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.banner-icon {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
}

.artifact-stat-row {
  background-color: rgba(61,94,84,0.38);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 97%;
  margin-bottom: 15px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.talent-row {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bg-content {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rarity-row {
  width: 100%;
  position: relative;
  margin-top: -38px;
  margin-left: auto;
  margin-right: auto;
}

.rarity-star {
  width: 14px;
  margin-left: -2px;
}

@media (max-width: 460px) {
  .weapon-icon {
    width: 58px;
  }
}

@media (max-width: 460px) {
  .rarity-star {
    width: 11px;
  }
}

@media (max-width: 460px) {
  .box-title {
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  .weapon-stat-2 {
    font-size: 10px;
    left: 76px;
    top: -32px;
  }
}

@media (max-width: 460px) {
  .weapon-stat {
    font-size: 10px;
    left: 76px;
    top: -32px;
  }
}

@media (max-width: 460px) {
  .artifact-icon {
    width: 45px;
  }
}

@media (max-width: 460px) {
  .team-title {
    font-size: 12px;
  }
}

.vision-box {
  position: relative;
  margin-top: -18px;
}

@media (max-width: 460px) {
  .vision-icon {
    width: 17px;
    margin-top: 20px;
  }
}

@media (max-width: 460px) {
  .vision-box {
    margin-top: -42px;
  }
}

@media (min-width: 992px) {
  .bg {
    background: linear-gradient(180deg, rgba(0,0,0,0) -400%, rgba(15,22,27) 100%), url("") bottom -610px left -450px / auto no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1673961497/GENSHIN/Namecards/Nahida/Namecard_Background_Nahida_Crescent_cqfud9.webp") center / cover;
  }
}

@media (max-width: 460px) {
  .stat-icon {
    width: 35px;
  }
}

@media (max-width: 460px) {
  .stat-title {
    font-size: 11px;
  }
}

@media (max-width: 460px) {
  .ads {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .talent-meta {
    font-size: 11px;
  }
}

@media (max-width: 460px) {
  .talent-stat {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  .weapon-column {
    width: 49%;
  }
}

@media (max-width: 412px) {
  .desired-substat {
    margin-top: -5px;
  }
}

.material-icon {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  border-radius: 6px;
  background: rgba(87,77,197,0.98);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  position: relative;
  left: 4px;
  margin-top: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .material-icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 576px) {
  .table-size {
    font-size: 10px;
  }
}

.table-size {
  min-width: 100px;
  width: 120px;
  font-size: 11px;
}

@media (max-width: 412px) {
  .weapon-container-flex {
    height: 140px;
  }
}

@media (max-width: 576px) {
  .desired-substat {
    font-size: 10px;
  }
}

.navi-title {
  color: rgb(255,255,255);
  font-size: 16px;
  width: 100%;
}

.box-title {
  color: rgba(160,181,255,0.98);
  font-size: 16px;
  width: 100%;
}

.table-title {
  color: rgb(255,255,255);
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
}

.table-description {
  font-size: 14px;
  color: rgb(255,255,255);
}

@media (max-width: 460px) {
  .artifact-icon {
    width: 45px;
  }
}

@media (max-width: 460px) {
  .box-title {
    font-size: 13px;
  }
}

.container-row-flex {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 460px) {
  .weapon-meta {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  .weapon-stat {
    font-size: 10px;
  }
}

.stat-container {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 0px;
}

.stat-title {
  color: rgb(255,255,255);
  font-size: 12px;
  width: 100%;
  margin-top: -5px;
  min-width: 100px;
}

.stat-icon {
  position: relative;
  top: 0px;
  width: 45px;
  border-radius: 6px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(87,77,197,0.98);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.artifact-stat-row {
  background-color: #2a2e32;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 97%;
  margin-bottom: 15px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

@media (max-width: 460px) {
  .stat-icon {
    width: 35px;
  }
}

@media (max-width: 460px) {
  .stat-title {
    font-size: 11px;
  }
}

.weapon-container-flex {
  width: 100%;
}

.nav-bar {
  background: linear-gradient(#0f161b, #0f161b);
}

.game-title {
  margin-left: 10px;
}

.favicon {
  width: 42px;
}

.container-nav {
  color: #ffffff;
  font-size: 16px;
  border-radius: 6px;
  background: rgba(61,94,84,0.38);
  margin-left: 5px;
  margin-right: 5px;
}

.container-nav-option:hover {
  background-color: rgba(87,77,197,0.98);
}

.nav-bar-links:hover {
  color: #724cf9;
}

.nav-bar-links {
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
}

.flex-wrap-container {
  background-color: #9d94ff;
}

.flex-wrapper {
  background: #0f161b;
  padding-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  margin-top: 0px;
  padding-top: 1px;
}

.material-icon:hover {
  background-color: rgba(74,64,184,0.98);
}

@media (max-width: 768px) {
  .flex-wrapper {
    margin-right: -5px;
    margin-left: -5px;
  }
}

.table-title {
  color: rgb(255,255,255);
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
}

.table-description {
  font-size: 14px;
  color: rgb(255,255,255);
}

.table-size {
  min-width: 100px;
  width: 120px;
}

.container-nav-option {
  color: rgb(255,255,255);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  background: #2a2e32;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.tooltip .tooltip-inner {
  background: rgba(87,77,197,0.98);
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.banner-character-5-star {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 35px;
  height: 80px;
  width: 95%;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-top: 15px;
}

.weapon-banner-icon-4-star {
  height: 80px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 30px;
  position: relative;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}

.weapon-banner-icon-3-star {
  height: 80px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686447664/GENSHIN/Rarity_3_background_jkaet1.png") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 30px;
  position: relative;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}

.weapon-banner-icon-5-star {
  height: 80px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 30px;
  position: relative;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}

.character-banner-icon-5-star {
  height: 80px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1673961497/GENSHIN/Namecards/Nahida/Namecard_Background_Nahida_Crescent_cqfud9.webp") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 30px;
  position: relative;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}

.best-weapon-rarity {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 16px;
  position: absolute;
  width: 300px;
  margin-top: 12px;
  font-style: italic;
  margin-left: 90px;
}

.character-slogan-title {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 16px;
  position: absolute;
  width: 464px;
  padding-left: 100px;
  margin-top: 48px;
  font-style: italic;
}

.weapon-sub-stat-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  position: absolute;
  width: 464px;
  padding-left: 100px;
  margin-top: 31px;
  color: rgb(255,255,255);
}

.character-region-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  position: absolute;
  width: 464px;
  padding-left: 100px;
  margin-top: 28px;
}

.weapon-name-title {
  font-family: 'DM Sans', sans-serif;
  color: rgb(107,255,16);
  font-size: 20px;
  position: absolute;
  width: 464px;
  padding-left: 100px;
  padding-top: 2px;
}

.character-name-title {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 20px;
  position: absolute;
  width: 464px;
  padding-left: 100px;
  padding-top: 2px;
}

.character-vision-icon {
  width: 23px;
  position: absolute;
  z-index: 90;
  margin-top: 1px;
  margin-left: 2px;
}

.character-rarity-icon {
  width: 14px;
  height: 14px;
  margin-right: -3px;
}

.weapon-banner-icon-5-star:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  transition: 0.5s;
}

.character-banner-icon-5-star:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .character-name-title {
    font-size: 18px;
    width: 350px;
    margin-top: 2px;
    padding-left: 90px;
  }
}

@media (max-width: 992px) {
  .character-name-title {
    font-size: 18px;
    margin-top: 2px;
  }
}

@media (max-width: 992px) {
  ..weapon-sub-stat-title {
    font-size: 14px;
    margin-top: 28px;
  }
}

@media (max-width: 992px) {
  .character-region-title {
    font-size: 14px;
    margin-top: 28px;
  }
}

@media (max-width: 992px) {
  .character-slogan-title {
    margin-top: 42px;
  }
}

@media (max-width: 992px) {
  .character-banner-icon-5-star {
    width: 72px;
    height: 72px;
  }
}

@media (max-width: 992px) {
  .character-vision-icon {
    width: 22px;
  }
}

@media (max-width: 992px) {
  .banner-character-5-star {
    height: 72px;
  }
}

@media (max-width: 576px) {
  .character-name-title {
    font-size: 16px;
    width: 260px;
    padding-left: 90px;
  }
}

@media (max-width: 768px) {
  .character-region-title {
    padding-left: 90px;
    margin-top: 26px;
  }
}

@media (max-width: 768px) {
  .character-slogan-title {
    padding-left: 90px;
  }
}

.container-bg {
  background: linear-gradient(180deg, rgba(0,0,0,0) -1999%, rgb(18,27,34) 99%), url("") top/ cover no-repeat, url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686191478/GENSHIN/Wallpapers/1161890_zqkfhg.jpg") center / cover;
}

@media (max-width: 576px) {
  .name-title {
    font-size: 20px;
    margin-top: 27px;
  }
}

.character-info {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  position: absolute;
}

.title-header {
  color: rgb(255,255,255);
  font-size: 16px;
  width: 528px;
  position: absolute;
  margin-top: -20px;
  text-shadow: 2px 2px rgb(0,0,0);
}

.front-page-column {
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .weapon-sub-stat-title {
    font-size: 14px;
    padding-left: 90px;
    margin-top: 26px;
  }
}

@media (max-width: 768px) {
  .weapon-name-title {
    font-size: 16px;
    padding-left: 90px;
  }
}

.context-title {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 16px;
  text-shadow: 1px 1px rgb(0,0,0);
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
}

.ascension-div {
  height: 65px;
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 65px;
  position: relative;
}

.ascension-icon {
  width: 65px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192565/GENSHIN/Rarity_1_background_vn8rcy.png") top / cover;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.ascension-h1 {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 15px;
  position: absolute;
}

.ascension-title {
  position: absolute;
  color: rgb(255,255,255);
  font-size: 11px;
  font-style: italic;
  letter-spacing: 2px;
  padding-left: 5px;
  background: rgb(18,27,34);
  margin-top: 48px;
  padding-right: 5px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 70%;
}

.ascension-stat {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  z-index: 90;
  position: relative;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / auto no-repeat;
  height: 25px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .ascension-title {
    margin-top: -17px;
  }
}

@media (max-width: 300px) {
  .ascension-row {
  }
}

.ascension-column {
  width: 95px;
  padding-left: 0px;
}

.ascension-row {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .ascension-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .ascension-div {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .ascension-column {
    width: 85px;
    padding-right: 0px;
  }
}

.favorite-icon {
  width: 40px;
  position: absolute;
  z-index: 90;
  margin-top: -7px;
  margin-left: -9px;
}

@media (max-width: 576px) {
  .favorite-icon {
    width: 30px;
    margin-top: -5px;
    margin-left: -7px;
  }
}

.artifact-substat-div-1 {
  height: 35px;
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  width: 800px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-bottom: 15px;
}

.artifact-substat-div {
  height: 55px;
  background: #588157;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  width: 265px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-bottom: 15px;
}

.substat-div {
  height: 55px;
  background: #588157;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  width: 265px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.artifact-substat-column-1 {
  width: 800px;
}

.artifact-substat-column {
  width: 300px;
}

.substat-column {
  width: 240px;
}

.artifact-stat-title-1 {
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  color: rgb(107,255,16);
  font-size: 14px;
  margin-top: 8px;
  font-style: italic;
}

.artifact-stat-title {
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  margin-top: -28px;
  margin-left: 60px;
  font-size: 13px;
}

.talent-title {
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  margin-top: -30px;
  margin-left: 60px;
}

.priority-stat-title {
  position: absolute;
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  text-align: right;
}

.team-column {
  width: 180px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.substitute-column {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.best-artifact-column-1 {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.best-artifact-column-2 {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.best-weapon-column {
  width: 450px;
  margin-bottom: 20px;
}

.team-div {
  border-radius: 6px;
  border-bottom-right-radius: 50px;
  width: 250px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.substitute-div {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 50px;
  width: 350px;
  height: 35px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.best-weapon-div-1 {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 350px;
  height: 60px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.best-weapon-div-2 {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 350px;
  height: 60px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.best-weapon-div {
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 45px;
  width: 440px;
  height: 70px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.artifact-icon {
  width: 70px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 70px;
}

.team-character.icon {
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 60px;
  height: 35px;
}

.team-character-icon {
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 60px;
  height: 60px;
}

.team-character-icon-5-star {
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  height: 60px;
  border-radius: 60px;
}

.substitute-icon {
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 60px;
  height: 35px;
}

.artifact-icon-1 {
  width: 60px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 60px;
}

.artifact-icon-2 {
  width: 60px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 60px;
}

.weapon-icon-3-star {
  width: 70px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686447664/GENSHIN/Rarity_3_background_jkaet1.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 70px;
  margin-top: 15px;
  margin-left: 15px;
}

.weapon-icon-4-star {
  width: 70px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192014/GENSHIN/Rarity_4_background_sojeyv.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 70px;
  margin-top: 15px;
  margin-left: 15px;
}

.weapon-icon-5-star {
  width: 70px;
  background: url("https://res.cloudinary.com/djqzskg3z/image/upload/v1686192120/GENSHIN/Rarity_5_background_dx6il0.png") top / cover no-repeat;
  border-radius: 6px;
  border-bottom-right-radius: 25px;
  height: 70px;
  margin-top: 15px;
  margin-left: 15px;
}

.artifact-set-piece-1 {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  margin-left: 62px;
  margin-top: -7px;
}

.artifact-set-piece-2 {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  margin-left: 62px;
  margin-top: -7px;
}

.artifact-set-piece {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  margin-left: 75px;
  margin-top: -5px;
}

.best-sub-title {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  margin-top: -5px;
  font-style: italic;
  font-size: 12px;
  margin-left: 90px;
}

.team-name-title {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -42px;
  margin-left: 30px;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.substitute-title {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -42px;
  margin-left: 30px;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.artifact-title-1 {
  color: rgb(107,255,16);
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -65px;
  margin-left: 62px;
  font-size: 14px;
  font-weight: bold;
}

.artifact-title-2 {
  color: rgb(107,255,16);
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -65px;
  margin-left: 62px;
  font-size: 14px;
  font-weight: bold;
}

.artifact-title {
  color: #588157;
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -75px;
  margin-left: 75px;
  font-size: 17px;
  font-weight: bold;
}

.best-weapon-title {
  color: rgb(107,255,16);
  font-family: 'DM Sans', sans-serif;
  position: static;
  margin-top: -80px;
  margin-left: 90px;
  font-size: 17px;
  font-weight: bold;
}

.substitute-row {
  margin-top: 20px;
}

.best-weapon-row {
  margin-top: 25px;
}

.artifact-description {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  margin-top: 55px;
  position: static;
}

.weapon-description {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  margin-top: 55px;
  position: static;
}

@media (MAX-width: 576px) {
  .weapon-icon-5-star {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .best-weapon-title {
    font-size: 15px;
    margin-top: -70px;
    margin-left: 75px;
  }
}

@media (max-width: 576px) {
  .best-sub-title {
    margin-left: 75px;
    margin-top: -6px;
  }
}

@media (max-width: 576px) {
  .best-weapon-rarity {
    margin-left: 75px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .weapon-description {
    font-size: 11px;
    margin-top: 45px;
  }
}

.constellation-div {
  width: 300px;
  height: 60px;
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 35px;
}

.constellation-img {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.constellation-column {
  width: 350px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.constellation-title {
  color: rgb(255,255,255);
  font-size: 15px;
  position: static;
  margin-top: -32px;
  margin-left: 65px;
}

.artifact-div {
  height: 85px;
  background: rgb(18,27,34);
  border-radius: 6px;
  border-bottom-right-radius: 25px;
}

@media (max-width: 576px) {
  .substat-row {
  }
}

@media (max-width: 576px) {
  .substat-column {
    width: 380px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .substat-div {
    width: 280px;
  }
}

@media (max-width: 576px) {
  .talent-title {
    font-size: 14px;
    margin-top: -34px;
    margin-left: 68px;
  }
}

.artifact-sub-title {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 0.5px;
  margin-left: 105px;
  margin-top: -16px;
}

.tooltiptext {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  z-index: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(87,77,197,0.98);
  color: #ffffff;
  text-align: left;
  padding: 5px 0px;
  border-radius: 6px;
}

.substat-row {
  padding-top: 5px;
  margin-bottom: 20px;
}

.scrollspy-nav {
  padding-top: 70px;
  font-family: 'DM Sans', sans-serif;
  border-style: none;
  border-radius: 6px;
}

.nav-description {
  color: #ffffff;
}

@media (max-width: 576px) {
  .scrollspy-column {
    font-size: 14px;
    border-style: none;
  }
}

.scrollspy-nav-item {
  background-color: #588157;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.scrollspy-nav-item:hover {
  background-color: rgb(107,255,16);
  color: #000000;
  transform: scale(1.1);
  transition: 1s;
}

.nav-description:focus, .nav-description:hover {
  color: #000000;
}

@media (max-width: 576px) {
  .scrollspy-nav {
    font-size: 12px;
    border-style: none;
  }
}

.scrollspy-column {
  margin-top: 15px;
}

.nav-description:hover {
  color: #ffffff;
}

.substat-div:hover {
  background-color: rgb(107,255,16);
  transition: 0.5s;
  transform: scale(1.1);
}

.artifact-substat-div:hover {
  background-color: rgb(107,255,16);
  transition: 0.5s;
  transform: scale(1.1);
}

substitute-div:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.team-character-icon-5-star:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.team-character-icon:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.best-weapon-div-1:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.best-weapon-div-2:hover {
  background-color: rgb(18,27,34);
  transition: 0.5s;
  transform: scale(1.1);
}

.character-name {
  color: rgb(255,255,255);
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  position: absolute;
  margin-top: 81px;
  width: 150px;
}

@media (max-width: 576px) {
  .team-vision-icon {
    width: 17px;
    height: 17px;
    margin-left: -19px;
  }
}

@media (max-width: 576px) {
  .character-name {
    width: 110px;
    margin-top: 68px;
  }
}

@media (max-width: 360px) {
  .character-name {
    font-size: 11px;
    width: 90px;
  }
}

.vision-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 1px;
  margin-left: 2px;
}

@media (max-width: 576px) {
  .vision-icon {
    margin-left: 2px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 360px) {
  .vision-icon {
    margin-left: 0px;
  }
}

.background-row {
  background: rgb(18,27,34);
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .talent-icon {
    width: 39px;
  }
}

@media (max-width: 576px) {
  .artifact-stat-title-1 {
    font-size: 10px;
    margin-top: 11px;
  }
}

@media (max-width: 360px) {
  .artifact-substat-div-1 {
    width: 330px;
  }
}

@media (max-width: 576px) {
  .best-weapon-div {
  }
}

@media (max-width: 576px) {
  .character-vision-icon {
    margin-left: 4px;
  }
}

@media (max-width: 576px) {
  .team-column {
    width: 158px;
  }
}

.vision-team-icon {
  position: absolute;
  width: 20px;
}

.context-title {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255,255,255);
  font-size: 16px;
  text-shadow: 1px 1px rgb(0,0,0);
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
}

.optional.builds-nav-item {
  background-color: #469d89;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.optional.builds-nav-item:hover {
  background-color: #74c69d;
  color: #000000;
  transform: scale(1.1);
  transition: 1s;
}

@media (max-width: 360px) {
  .scrollspy-nav {
  }
}

@media (max-width: 360px) {
  .scrollspy-nav-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .row {
    margin-top: 25px;
  }
}

@media (max-width: 576px) {
  .weapon-banner-icon-5-star {
    width: 72px;
    height: 72px;
  }
}

@media (max-width: 576px) {
  .weapon-sub-stat-title {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  h1 {
  }
}

